@page
@model PubBase.Pages.ImputModel
@{
}
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.name" class="control-label"></label>
                <input asp-for="@Model.name" class="form-control" />
                <span asp-validation-for="@Model.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.address" class="control-label"></label>
                <input asp-for="@Model.address" class="form-control" />
                <span asp-validation-for="@Model.address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Pubs" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>